@import '../../../styles/settings/settings';
@import '../../../styles/tools/tools';

.div-bg {
  background-color: $color-sinbad;
  min-height: 20vh;
  margin: 5%;
}
h1 {
  color: $color-christine;
}
