/* -----------------------------------------------------------
  Base styles
----------------------------------------------------------- */

body {
  background-color: $bg-color;
  color: $text-color;
  @include hsbc-font();
  font-weight: $font-weight-norm;
  min-height: 100vh;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.layout-header {
  position: relative;
}

.layout-main {
  position: relative;
}

// Pushes the footer to the bottom of the screen
.layout-footer {
  margin: auto 0 0;
  position: relative;
}

// Layout for error pages
.error-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
