Grid change margins & gutters
.wrapper {
  padding: 0 15px;

  @include respond-above(sm) {
    padding: 0 20px;
  }
  @include respond-above(md) {
    padding: 0 25px;
  }
}

.wrapper__homepage {
  padding: 0 20px;
  max-width: 1300px;
  margin: 0 auto;

  @include respond-above(sm) {
    padding: 0 25px;
  }
  @include respond-above(md) {
    padding: 0 40px;
  }
}

.wrapper + .wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

// Simple grid

$grid-gutter-small: 20px;
$grid-gutter-large: 40px;

.grid {
  display: flex;
  flex-direction: column;
  position: relative;

  // for testing
  .item {
    border: 1px solid $hsbc-charcoal;
    padding: 0.5em;
  }

  @include respond-above(sm) {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    -ms-grid-columns: 1fr;
    grid-column-gap: $grid-gutter-small;
  }

  @include respond-above(md) {
    grid-column-gap: $grid-gutter-large;
  }

  // standard 1 col mobile breaks to 2 column, even split
  &__two-col {
    display: flex;
    flex-direction: column;

    @include respond-above(sm) {
      display: grid;
      grid-gap: $grid-gutter-small;
      grid-template-columns: 1fr 1fr;
    }

    @include respond-above(md) {
      grid-gap: $grid-gutter-large;
      max-width: $grid-max-width;
      margin: 0 auto;
    }
  }

  //  1 col mobile breaks to 3 column, even split
  &__three-col {
    display: flex;
    flex-direction: column;

    @include respond-above(sm) {
      display: -ms-grid;
      display: grid;
      grid-gap: $grid-gutter-small;
      grid-template-columns: repeat(3, [col-start] 1fr);
      -ms-grid-columns: 1fr 1fr 1fr;
    }
    @include respond-above(md) {
      grid-gap: $grid-gutter-large;
      max-width: $grid-max-width;
      margin: 0 auto;
    }
  }

  //  1 col mobile breaks to 3 column, then medium 2 column, even split
  &__three-two-col {
    display: flex;
    flex-direction: column;

    @include respond-above(xs) {
      display: grid;
      grid-gap: $grid-gutter-small;
      grid-template-columns: 1fr 1fr;
    }
    @include respond-above(md) {
      display: grid;
      grid-gap: $grid-gutter-small;
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include respond-above(md) {
      grid-gap: $grid-gutter-large;
      max-width: $grid-max-width;
      margin: 0 auto;
    }
  }

  //  1 col mobile breaks to 3 column, then medium 2 column, even split
  &__three-two-col__featured {
    display: flex;
    flex-direction: column;

    @include respond-above(xs) {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-gap: $grid-gutter-small;
      grid-template-columns: 1fr 1fr;
    }
    @include respond-above(md) {
      display: grid;
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-gap: $grid-gutter-small;
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include respond-above(lg) {
      grid-gap: $grid-gutter-large;
      max-width: $grid-max-width;
      margin: 0 auto;
    }
  }

  //  1 col mobile breaks to 4 column, even split
  &__four-col {
    display: flex;
    flex-direction: column;

    @include respond-above(sm) {
      display: grid;
      grid-gap: $grid-gutter-small;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @include respond-above(md) {
      grid-gap: $grid-gutter-large;
    }
  }

  //  1 col mobile breaks to 4 / 3 / 2 column, even split
  &__four-three-two-col {
    display: flex;
    flex-direction: column;

    @include respond-above(xs) {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-gap: $grid-gutter-small;
      grid-template-columns: 1fr 1fr;
    }
    @include respond-above(sm) {
      display: grid;
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-gap: $grid-gutter-small;
      grid-template-columns: repeat(3, 1fr);
    }
    @include respond-above(md) {
      display: grid;
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-gap: $grid-gutter-large;
      grid-template-columns: repeat(4, 1fr);
      -ms-grid-row-span: 1;
    }
  }
}
