/* -----------------------------------------------------------
  Heading styles
----------------------------------------------------------- */

// These are default (fallback) heading styles, based on
// CMB Corporate Browser Toolkit v3.2.0 (14 May 2020): Foundations - Typography
// These should be overridden by applying classes to specific elements in each component

h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  @include hsbc-font();
}

h1 {
  @include font-size(33px);
  font-weight: $font-weight-light;

  @include respond-above(md) {
    @include font-size(44px);
  }
}

h2 {
  @include font-size(28px);
  font-weight: $font-weight-light;

  @include respond-above(md) {
    @include font-size(35px);
  }
}

h3 {
  @include font-size(23px);
  font-weight: $font-weight-light;

  @include respond-above(md) {
    @include font-size(28px);
  }
}

h4 {
  @include font-size(19px);
  font-weight: $font-weight-light;

  @include respond-above(md) {
    @include font-size(22px);
  }
}

h5 {
  @include font-size(16px);
  font-weight: $font-weight-norm;
}

h6 {
  @include font-size(14px);
  font-weight: $font-weight-norm;
}
