/* -----------------------------------------------------------
  Color settings
----------------------------------------------------------- */

/* ------- Color names ------- */

// See http://davidwalsh.name/sass-color-variables-dont-suck for color naming conventions
// See http://chir.ag/projects/name-that-color/ for getting names for your colors

// Do not use these names directly, instead apply color style names based on usage
// See `Color styles` below

// General colors
$color-white: #fff;
$color-black: #000;
$color-sinbad: #99cecc;
$color-christine: #787878;
