/* -----------------------------------------------------------
  Exports for React/JS
----------------------------------------------------------- */

@import 'settings/settings';
@import 'tools/tools';

// Reference these variables in React components:
// import settings from '../../../styles/js-exports.scss';
// const { breakpointMobileMenu } = settings;

:export {
  breakpointXSmall: strip-unit(map-get($breakpoints, xs));
  breakpointSmall: strip-unit(map-get($breakpoints, sm));
  breakpointMedium: strip-unit(map-get($breakpoints, md));
  breakpointLarge: strip-unit(map-get($breakpoints, lg));
  breakpointMobileMenu: strip-unit($breakpoint-mobile-menu);
  breakpointDesktopFilter: strip-unit($breakpoint-desktop-filter);
  headerMobileHeight: strip-unit($header-mobile-height);
  headerDesktopHeight: strip-unit($header-desktop-height);
  containerMaxWidth: strip-unit($grid-max-width);
  themeColorDark: $hsbc-charcoal;
  themeColorLight: $color-white;
  themeColorRed: $hsbc-red;
  liveChatCardIconColor: $live-chat-card-icon-bg-color;
  spacingXlarge: strip-unit($spacing-xlarge);
}
