/* -----------------------------------------------------------
  Color settings
----------------------------------------------------------- */

/* ------- Color names ------- */

// See http://davidwalsh.name/sass-color-variables-dont-suck for color naming conventions
// See http://chir.ag/projects/name-that-color/ for getting names for your colors

// Do not use these names directly, instead apply color style names based on usage
// See `Color styles` below

// General colors
$color-white: #fff;
$color-black: #000;
$color-concrete: #f3f3f3;
$color-loblolly: #c9d0d5;
$color-gallery: #ededed;
$color-sinbad: #99cecc;
$color-rose-fog: #e5b2b5;
$color-boulder: #787878;
$color-gray: #8c8c8c;
$color-casper: #acbdce;

// Products & Solution hero tile colors
$color-outer-space: #2f3b42;
$color-teal: #008580;
$color-electric-violet: #834eff;
$color-christine: #e67310;
$color-cardinal: #c6262b;

// Secondary campaign hero colors
$color-corduroy: #6b6c6b;

// Social
$color-chambray: #3b5999;
$color-picton-blue: #55acee;
$color-oxford-blue: #3e505d;
$color-catalina-blue: #032878;
$color-mirage: #1e2c36;
$color-denim: #0c74c2;
$color-tundora: #484848;

// HSBC colors: brand
$hsbc-red: #db0011;
$hsbc-bright-red: #af000d;
$hsbc-light-pearl: #f3f3f3;
$hsbc-pearl: #d7d8d6;
$hsbc-silver: #d7d8d6;
$hsbc-pewter: #767676;
$hsbc-charcoal: #333333;

// HSBC colors: RAG
$hsbc-error-red: #a8000b;
$hsbc-amber: #ffbb33;
$hsbc-green: #00847f;
$hsbc-blue: #305a85;
$hsbc-red-tint: #f9f2f3;
$hsbc-amber-tint: #fff8ea;
$hsbc-green-tint: #e5f2f2;
$hsbc-blue-tint: #ebeff4;

// HSBC colors: buttons
$hsbc-porcelain: #f2f5f5;
$hsbc-porcelain-2: #e7ebed;
$hsbc-blue-bayoux: #4d6474;
$hsbc-blue-oxford: #3e505d;
$hsbc-red-devil: #83000a;
$hsbc-ebony-clay: #1d262c;
$hsbc-tundora: #404040;

// HSBC colors: data vis
$hsbc-dusk-pearl: #6d8ea6;

// Feature Tables
$color-silver-chalice: #a6a6a6;

// Toggle button colors
$color-mine-shaft: #252525;

// Live chat card icon color
$hsbc-gray-color: #424242;

// Online Services colors
$color-cod-gray: #191919;

/* ------- Color styles ------- */

$text-color: $hsbc-charcoal;

// Background colors
$bg-color: $color-concrete;
$panel-bg-color: $color-white;
$panel-in-placeholder-bg-color: $color-gallery;

// Header colors
$header-bg-color: $color-black;
$header-text-color: $color-white;

// Borders & lines
$line-divider-color: $color-black;
$article-detail-divider-color: $hsbc-silver;
$article-card-divider-color: $color-loblolly;
$filter-group-divider-color: $color-loblolly;
$blockquote-border-color: $hsbc-red;
$blockquote-pipe-color: $hsbc-silver;
$button-border-color: $hsbc-charcoal;

// Buttons
$btn-default-bg-hover: $hsbc-bright-red;
$hsbc-brand-hover: $hsbc-bright-red;

// Buttons: secondary
$btn-secondary-bg: $hsbc-blue-bayoux;
$btn-secondary-bg-hover: $hsbc-blue-oxford;

// Buttons: tertiary
$btn-tertiary-light-border: $hsbc-charcoal;
$btn-tertiary-light-bg: transparent;
$btn-tertiary-light-bg-hover: $hsbc-porcelain;

// Icons
$video-icon-bg: $hsbc-red;
$video-icon-bg-hover: $hsbc-bright-red;
$product-icon-bg-color: $color-cardinal;
$solution-icon-bg-color: $color-cardinal;
$tool-icon-bg-color: $color-cardinal;
$live-chat-card-icon-bg-color: $hsbc-gray-color;

// Social
$socia-share-icon-color: $hsbc-charcoal;
$facebook-icon-bg: $color-chambray;
$facebook-icon-bg-hover: $color-catalina-blue;
$twitter-icon-bg: $color-picton-blue;
$twitter-icon-bg-hover: $color-denim;
$linkedin-icon-bg: $color-oxford-blue;
$linkedin-icon-bg-hover: $color-mirage;
$email-icon-bg: $color-black;
$email-icon-bg-hover: $color-tundora;

// Notices
$notice-info-border-color: $color-casper;
$notice-success-border-color: $color-sinbad;
$notice-warning-border-color: $hsbc-amber;
$notice-error-border-color: $color-rose-fog;

$notice-info-bg-color: $hsbc-blue-tint;
$notice-success-bg-color: $hsbc-green-tint;
$notice-warning-bg-color: $hsbc-amber-tint;
$notice-error-bg-color: $hsbc-red-tint;

// Feature tables
$table-primary-header-text-color: $color-white;
$table-primary-header-bg-color: $color-black;
$table-primary-header-border-color: transparent;
$table-secondary-header-bg-color: $hsbc-silver;
$table-secondary-header-border-color: $color-silver-chalice;
$table-cell-border-color: $hsbc-silver;

// Forms
$input-border-color: $hsbc-pewter;
$progress-bar-bg-color: $color-gallery;
$progress-bar-value-color: $color-teal;

// DropdownList
$dropdown-list-dark-bg-color: $color-cod-gray;
$dropdown-list-dark-active-bg-color: $hsbc-charcoal;
$dropdown-list-dark-text-color: $color-white;

$dropdown-list-light-bg-color: $color-white;
$dropdown-list-light-active-bg-color: $hsbc-light-pearl;
$dropdown-list-light-text-color: $hsbc-charcoal;
$dropdown-list-light-border-color: $hsbc-charcoal;

// Mobile submenu
$mobile-submenu-text-color: $color-white;
$mobile-submenu-bg-color: $color-black;
$mobile-submenu-border-color: $hsbc-charcoal;
$mobile-submenu-selected-border-color: $hsbc-red;
