/* -----------------------------------------------------------
  Typography settings
----------------------------------------------------------- */

/* ------- Font families ------- */

$hsbc-font: 'UniversNext', Arial, sans-serif;
$hsbc-font-arabic: 'UniversArabic', Arial, sans-serif;
$hsbc-font-armenian: 'UniversArmen', Arial, sans-serif;
$hsbc-font-simplified-chinese: 'Microsoft Yahei', 微软雅黑, STXihei, 华文细黑,
  serif;
$hsbc-font-traditional-chinese: 'Microsoft Yahei', 微软雅黑, STXihei, 华文细黑,
  serif;

/* ------- Font sized ------- */

$font-size-body: 16px;

/* ------- Line height ------- */

$line-height-body: 24px;

/* ------- Font weights ------- */

$font-weight-light: 300;
$font-weight-norm: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* ------- Font sizes ------- */

$font-sizes: (
  12: 12px,
  14: 14px,
  16: 16px,
  19: 19px,
  22: 22px,
  23: 23px,
  28: 28px,
  30: 30px,
  33: 33px,
  35: 35px,
  44: 44px,
);

$font-sizes-ar: (
  12: 14px,
  14: 16px,
  16: 18px,
  19: 21px,
  22: 25px,
  23: 26px,
  28: 32px,
  30: 34px,
  33: 37px,
  35: 39px,
  44: 50px,
);

/* ------- Line heights ------- */

$line-heights: (
  16: 16px,
  20: 20px,
  24: 24px,
  27: 27px,
  31: 31px,
  30: 30px,
  36: 36px,
  38: 38px,
  40: 40px,
  42: 42px,
  50: 50px,
);

$line-heights-ar: (
  16: 22px,
  20: 26px,
  24: 29px,
  27: 34px,
  31: 38px,
  30: 39px,
  36: 48px,
  38: 51px,
  40: 56px,
  42: 58px,
  50: 75px,
);
